body {
    margin: 0;
    font-family: 'Georgia', sans-serif;
    background-color: #0b0b0b;
    color: #fff;
}

.join-section {
    min-height: 100vh;
    padding: 50px 20px;
    background: url();
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container {
    background: rgba(0, 0, 0, 0.85);
    padding: 40px;
    max-width: 600px;
    width: 100%;
    border: 1px solid #ffd700;
    border-radius: 8px;
    box-shadow: 0 0 25px rgba(255, 215, 0, 0.3);
}

h1 {
    color: #ffd700;
    text-align: center;
    margin-bottom: 10px;
}

.subtitle {
    text-align: center;
    font-size: 1rem;
    color: #ccc;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
    color: #ffd700;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="file"],
input[type="date"],
textarea {
    width: 100%;
    padding: 10px;
    background-color: #111;
    color: #fff;
    border: 1px solid #444;
    border-radius: 4px;
    font-size: 1rem;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url();
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 16px 16px;
    padding-right: 30px;
}

input[type="file"] {
    background-color: #1a1a1a;
    color: #ffd700;
    border: 1px dashed #ffd700;
    cursor: pointer;
}

input[type="file"]::file-selector-button {
    background-color: #ffd700;
    color: #000;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

input[type="file"]::file-selector-button:hover {
    background-color: #c9a000;
    color: #fff;
}

textarea {
    resize: vertical;
}

.btn {
    width: 100%;
    padding: 12px;
    background-color: #ffd700;
    color: #000;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.btn:hover {
    background-color: #c9a000;
}

/*Scroll Animation*/

.fade-slide {
    opacity: 0;
    transform: translateY(30px);
    transition: all 1s ease;
}

.fade-slide.visible {
    opacity: 1;
    transform: translateY(0);
}


@media (max-width: 600px) {
    .form-container {
        padding: 20px;
    }
}
